body {
  padding: 0;
  margin: 0;
  background-color: #1E1E24;
  text-align: center;
}

.lang {
  background-image: url("/Users/bosticZachary/AP-Lang-APUSH-Final/.master/.resources/ap-lang-header.jpg");
  height: 400px;
  background-position: bottom center;
}

.apush {
  background-image: url("/Users/bosticZachary/AP-Lang-APUSH-Final/.master/.resources/history.jpg");
  height: 400px;
  background-position: bottom center;
}

.header {
  background-color: #D7263D;
  color: #FFF;
}

.header h3 {
  height: 400px;
  background-position: bottom center;
  color: #FFF;
  text-align: center;
}

.main {
  padding-top: 100px;
  height: 700px;
}

h1 {
  color: #FFF;
  font-family: 'Ruda', sans-serif;
  font-size: 70px;
  font-weight: 900;
  margin: 0;
  padding-top: 120px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: #FFF;
  font-family: 'Catamaran', sans-serif;
  margin: 0;
  text-align: left;
}

h3 {
  color: #D7263D;
  font-family: 'Ruda', sans-serif;
  font-size: 32px;
  margin: 0;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

p {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Pontano Sans', sans-serif;
  margin: 0;
  text-align: left;
}

.photo {
  width: 100px;
}

.box-entry {
  margin: 60px auto;
  padding: 10px 0px 0px 0px;
  width: 90%;
  border: 3px solid #FFF;
  border-radius: 7px;
}

.apush-text h3, p {
  margin: 20px;
}

.apush-image {
  padding: 15px;
  width: 100%;
}

.apush-image caption {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Pontano Sans', sans-serif;
  margin: 15px;
  text-align: center;
}

.apush-text p {
  font-size: 18px;
}

#question h3 {
  background-color: #D7263D;
  color: #FFF;
  font-size: 32px;
  font-family: 'Ruda', sans-serif;
  padding: 30px 0;
  text-align: center;
  border-top: 8px solid #D7263D;
  border-bottom: 8px solid #D7263D;
}

.paper-desc {
  display: inline-block;
  width: 70%;
}

.open {
  margin-top: 30px;
  width: 100%;
}

.photography a {
  color: #FFF;
  background-color: #D7263D;
  display: block;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 32px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
}

.go-home a {
  background-color: #1E1E24;
  color: #FFF;
  font-size: 14px;
  font-family: 'Catamaran', sans-serif;
  text-align: left;
  padding-top: 20px;
}

.nav-bar li a {
  color: #FFF;
  background-color: #1E1E24;
  font-family: 'Catamaran', sans-serif;
  font-size: 24px;
  font-weight: bolder;
  margin: 10px 10px;
  padding: 0;
  display: inline;
  list-style: none;
}

a {
  background-color: #D7263D;
  color: #FFF;
  display: block;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  padding: 0;
  margin: 10px 0px;
}

li {
  color: #FFF;
  background-color: #1E1E24;
  font-family: 'Catamaran', sans-serif;
  font-size: 24px;
  margin: 0px 40px;
  display: inline;
  list-style: none;
}
